recursive-include doc_src *
recursive-include docs *

recursive-include admintheme/static *.js *.gif *.png *.css *.scss *.eot *.svg *.ttf *.woff *.otf


include LICENSE
include README.rst

prune example/